<form>
    <div class="form-group">
        <label for="OriginAirport">Origin Airport</label>
        <select class="form-control">
            <option value="">Select an Airport</option>
            <option value="ORD">ORD</option>
            <option value="MDW">MDW</option>
            <option value="JFK">JFK</option>
          </select>
    </div>

    <div class="form-group">
        <label>Destination Airport</label>
        <select class="form-control">
            <option value="">Select an Airport</option>
            <option value="ORD">ORD</option>
            <option value="MDW">MDW</option>
            <option value="JFK">JFK</option>
          </select>
    </div>

    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control">
    </div>

    <div class="form-group">
        <label>Number of Passengers</label>
        <input type="number" class="form-control">
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-block">Submit</button>
      </div>
</form>