<form #travelForm="ngForm" (ngSubmit)="onSubmit(travelForm)">
    <div class="form-group">
        <label for="OriginAirport">Origin Airport</label>
        <select class="form-control" name="origin" [(ngModel)]="model.origin">
            <option value="">Select an Airport</option>
            <option *ngFor="let airport of Airport" [value]="airport">
                {{airport}}
            </option>
          </select>
    </div>

    <div class="form-group">
        <label>Destination Airport</label>
        <select class="form-control" name="destination" [(ngModel)]="model.destination">
            <option value="">Select an Airport</option>
            <option *ngFor="let airport of Airport" [value]="airport">
                {{airport}}
            </option>
          </select>
    </div>

    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" name="travelDate" [(ngModel)]="model.travelDate">
    </div>

    <div class="form-group">
        <label>Number of Passengers</label>
        <input type="number" class="form-control" name="numTravelers" [(ngModel)]="model.numTravelers">
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-block">Submit</button>
      </div>
</form>