<form #travelForm="ngForm" (ngSubmit)="travelForm.form.valid && onSubmit(travelForm)">
    <div class="form-group">
        <label for="OriginAirport">Origin Airport</label>
        <select class="form-control" name="origin" [(ngModel)]="model.origin" required>
            <option value="">Select an Airport</option>
            <option *ngFor="let airport of Airport" [value]="airport">
                {{airport}}
            </option>
          </select>
    </div>

    <div class="form-group">
        <label>Destination Airport</label>
        <select class="form-control" name="destination" [(ngModel)]="model.destination" required>
            <option value="">Select an Airport</option>
            <option *ngFor="let airport of Airport" [value]="airport">
                {{airport}}
            </option>
          </select>
    </div>

    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" name="travelDate" [(ngModel)]="model.travelDate" 
            #date="ngModel" [ngClass]="{ 'is-invalid': travelForm.submitted && date.invalid }" required>
        <div *ngIf="travelForm.submitted && date.invalid" class="invalid-feedback">
            <p *ngIf="date.errors.required">Date is required</p>
        </div>
    </div>

    <div class="form-group">
        <label>Number of Passengers</label>
        <input type="number" class="form-control" name="numTravelers" [(ngModel)]="model.numTravelers" 
            #pass="ngModel" [ngClass]="{ 'is-invalid': travelForm.submitted && pass.invalid }" required>
        <div *ngIf="travelForm.submitted && pass.invalid" class="invalid-feedback">
            <p *ngIf="pass.errors.required">Number of passengers is required</p>
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-block">Submit</button>
      </div>
</form>